/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}


header {
    background-color: #265EE8;
    height: 70px;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-link {
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.link {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.link > li {
    padding: 0px 10px;
    color: white;
}

.logo {
    
}

li {
    list-style-type: none
}


.login-button {
    background-color: #FFFFFF ;
    height: 2.3rem;
    width: 4rem;
    border-radius: 40px;
    border-style: none;
}

.nav-spacing {
    height: 50px;
    width: 200px;
    padding: 5px;
}
.hero > button {
    border-radius: 40px;
    border-style: none;
    margin-top: 30px;
    padding: 15px 25px;
}

.black-button {
    background-color: black;
    color: white;
    margin-left: 40px;
}

.login-flex {
    display: flex;
    align-items: center;
    justify-content: end;
}


.nav-bar {
    width: 1000px;
    height: 50px;
    padding: 25px;
    background-color: #265EE8;
}

.blue {
    
    background-image: url(./img/jumbo.png);
    background-size: cover;

}

.hero {
    /* background-color: #EE82EE; */
    width: 700px;
}

.white-text {
    color: white;
    padding: 20px;
    margin:auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 25px 0px;
}
div > h2 {
    font-size: 40px;
    margin: 40px 0px 20px 0px
}

.box-height {
    height: 450px;
}

.black-border {
    border: dashed 2px black;
   

}

.white {
    background-color: white;
}

.grey {
    background-color: #F6F6F6;

}

.padding {
    padding: 50px;
}

.blu-container {
    width: 600px;
    /* background-color: #1D90FF; */
}

.blu-container > img {
    size-adjust: 80%;

}
.pink {
    width: 300px;
    /* background-color: #FFC0CB; */

}

.green {
    width: 1000px;
    /* background-color: #228B22; */
    height: 900px;
    text-align: center;
}

.black {
    padding: 40px 0px 30px 0px;
    background-color: #23272A;
}

.arancione {
    width: 400px;
    color: white;
    /* background-color: #F08080; */
}


.light-green {
    width: 150px;
    background-color: #20B2AA;
    /* border: dashed 2px rgb(255, 255, 255); */
}

.download-button-blue {
    background-color: #8EA1E1;
    color: white;
    margin-top: 15px;
    border-radius: 40px;
    border-style: none;
    padding: 15px 30px;
}

h3 {
    font-size: 30px;
}

footer {
    padding: 10px;
    background-color: #23272A;
}

.footer-box {
    width: 1000px;
    height: 70px;
    /* background-color: #7FFFD4; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #738BDD solid 0.5px;
}

.box {
    /* background-color: #FFB6C1; */
    padding: 5px;
}

.arancione > img {
    width: 20px;
}

.h3-blue {
    color: #738BDD;
    padding-bottom: 20px;
}

.icons {
    padding: 20px 30px 10px 0px;
    margin-right: 10px;
}

td {
    color: white;
    padding: 7px 30px;
    text-align: start;
}

th {
    color: #738BDD;
    padding: 7px 30px;
    text-align: start;
}
.footer-box > img {
    width: 130px;
}

